* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "poppins";
}

.login {
  background-image: url(./image/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  width: 70%;
  margin: 0 auto;
  max-width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

/* login */

.login-text-content {
  position: relative;
}
.login-text-content h1 {
  font-size: 3rem;
}
.login-image {
  position: absolute;
  bottom: 4rem;
}

.login-form {
  padding: 69px;
  background: #000000;
  width: 430px;
  height: 100%;
}

.login-form h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

.form-cont {
  border: 1px solid #fff;
  padding: 15px;
  margin-bottom: 16px;
}

i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.forgot {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.login-form button {
  background: #eb0e09;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  margin-top: 24px;
  font-weight: 600;
}

.content-last {
  font-weight: 400;
  font-size: 14px;
  margin-top: 77px;
}

.content-last span {
  font-weight: bold;
}

.content-logins {
  padding: 4rem;
}

.checkboxs {
  display: flex;
  justify-content: end;
  text-align: right;
}
.checkboxs p {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .login-text-content p {
    margin-bottom: 1rem;
  }
  .login-text-content h1 {
    font-size: 30px;
  }
  .d-flex {
    flex-direction: column;
  }
  .login-image {
    position: relative;
    bottom: 0;
  }
  .login-form {
    margin-top: 3rem;
    padding: 0;
    width: 100%;
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  .form-cont {
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 16px;
  }
}
